/* selector{
    property: value;
} */

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 242, 234);
    margin: 20px 80px 40px 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid brown;
    border-radius: 8px;
}
h1, h2, h3{
    color: brown;
    text-align: center;
}
h1{
    text-decoration: underline; 
}
.edition{
    text-transform: uppercase;
}
.list{
    font-size: 16px;
    color: rgb(161, 0, 0);
}
p{
    font-size: 15px;
    color: black;
}
p em{
    font-style: italic;
    color: rgb(198, 0, 0);
    font-weight: 900;
}
a{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
.box{
    margin-left:30px;
    width: 300px;
    background-color:rgb(255, 203, 172);
    border: 2px solid brown;
    padding: 5px;
    display: inline-block;
}

.navigation{
    position: relative;
    background-color:rgb(255, 161, 106);
    width: 400px;
    height: 300px;
}
.navigation .list{
    position: absolute;
    top: 10px;
}

.popUp{
    position: fixed;
    right:10px;
    top:20px;
    background-color:rgb(255, 161, 106);
    border: brown 2px solid;
    height: 100px;
    width: 200px;
    padding: 30px;
    text-align:center;
}
.caramel{
    background-color: rgb(217, 141, 78);
    border: 2px solid rgb(138, 60, 12);
}